* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgb(61, 61, 61);
    opacity: 0.8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}

main {
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#principal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.8;
    width: 700px;
    height: 350px;
    color: white;
}

.menu a {
    margin: 30px;
    text-decoration: none;
    color: white;
}

.menu a:hover {
    cursor: pointer;
    font-size: x-large;
}

#divContact {
    display: none;
}

#divProjects {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

#project {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 20px;
    margin: 5px;
}